/* ####################################################
NOTE
scss file for review
###################################################
*/
/* line 64, ../sass/review-settings.scss */
.ya-article {
  width: 100%;
  *zoom: 1;
}
/* line 12, ../sass/review-settings.scss */
.ya-article:before, .ya-article:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 19, ../sass/review-settings.scss */
.ya-article:after {
  clear: both;
}
/* line 66, ../sass/review-settings.scss */
.ya-article .ya-main-section {
  		/*
          @include makeFluidColumn(6);
  		@media (max-width: 979px) {
  			 @include makeFluidColumn(9);
  		}
  		@media (max-width: 767px) {
  			@include makeFluidColumn(12, 0, 0);
  		}
  		*/
}
/* line 78, ../sass/review-settings.scss */
.ya-article .ya-left-sidebar {
  float: left;
  margin-left: 2.12766%;
  width: 23.40426%;
}
/* line 59, ../sass/review-settings.scss */
.ya-article .ya-left-sidebar:first-child {
  margin-left: 0;
}
/* line 81, ../sass/review-settings.scss */
.ya-article .ya-right-sidebar {
  float: left;
  margin-left: 2.12766%;
  width: 23.40426%;
}
/* line 59, ../sass/review-settings.scss */
.ya-article .ya-right-sidebar:first-child {
  margin-left: 0;
}

/* line 88, ../sass/review-settings.scss */
.ya-reviews {
  padding: 30px;
}
@media (max-width: 767px) {
  /* line 88, ../sass/review-settings.scss */
  .ya-reviews {
    padding: 30px 15px;
  }
}

/* line 97, ../sass/review-settings.scss */
.ya-review-section {
  margin-top: 30px;
}
/* line 99, ../sass/review-settings.scss */
.ya-review-section .ya-review-list {
  margin: 0;
  list-style: none outside none;
}
/* line 102, ../sass/review-settings.scss */
.ya-review-section .ya-review-list .ya-review-item {
  border-top: 1px solid #999;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
/* line 108, ../sass/review-settings.scss */
.ya-review-section .ya-review-list .ya-review-item .ya-review-item-subject {
  width: 100%;
  display: inline-block;
  background-color: #eee;
}
@media (max-width: 460px) {
  /* line 112, ../sass/review-settings.scss */
  .ya-review-section .ya-review-list .ya-review-item .ya-review-item-subject h2 {
    font-size: 25px;
  }
}
@media (max-width: 460px) {
  /* line 117, ../sass/review-settings.scss */
  .ya-review-section .ya-review-list .ya-review-item .ya-review-item-subject h3 {
    font-size: 16px;
  }
}
/* line 122, ../sass/review-settings.scss */
.ya-review-section .ya-review-list .ya-review-item .ya-review-item-subject > * {
  padding-left: 8px;
}
/* line 126, ../sass/review-settings.scss */
.ya-review-section .ya-review-list .ya-review-item .ya-review-item-settings {
  margin: 15px 0 15px 5%;
}
/* line 128, ../sass/review-settings.scss */
.ya-review-section .ya-review-list .ya-review-item .ya-review-item-settings .ya-review-item-settings-options {
  width: 100%;
  *zoom: 1;
  margin-bottom: 15px;
}
/* line 12, ../sass/review-settings.scss */
.ya-review-section .ya-review-list .ya-review-item .ya-review-item-settings .ya-review-item-settings-options:before, .ya-review-section .ya-review-list .ya-review-item .ya-review-item-settings .ya-review-item-settings-options:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 19, ../sass/review-settings.scss */
.ya-review-section .ya-review-list .ya-review-item .ya-review-item-settings .ya-review-item-settings-options:after {
  clear: both;
}
/* line 131, ../sass/review-settings.scss */
.ya-review-section .ya-review-list .ya-review-item .ya-review-item-settings .ya-review-item-settings-options .ya-option-items {
  float: left;
  margin-left: 2.12766%;
  width: 31.9149%;
}
/* line 59, ../sass/review-settings.scss */
.ya-review-section .ya-review-list .ya-review-item .ya-review-item-settings .ya-review-item-settings-options .ya-option-items:first-child {
  margin-left: 0;
}
/* line 134, ../sass/review-settings.scss */
.ya-review-section .ya-review-list .ya-review-item .ya-review-item-settings .ya-review-item-settings-options .ya-option-visible {
  float: left;
  margin-left: 2.12766%;
  width: 31.9149%;
}
/* line 59, ../sass/review-settings.scss */
.ya-review-section .ya-review-list .ya-review-item .ya-review-item-settings .ya-review-item-settings-options .ya-option-visible:first-child {
  margin-left: 0;
}
/* line 137, ../sass/review-settings.scss */
.ya-review-section .ya-review-list .ya-review-item .ya-review-item-settings .ya-review-item-settings-options .ya-option-hidden {
  float: left;
  margin-left: 2.12766%;
  width: 31.9149%;
}
/* line 59, ../sass/review-settings.scss */
.ya-review-section .ya-review-list .ya-review-item .ya-review-item-settings .ya-review-item-settings-options .ya-option-hidden:first-child {
  margin-left: 0;
}
/* line 142, ../sass/review-settings.scss */
.ya-review-section .ya-review-list .ya-review-item .ya-review-number {
  float: left;
  font-size: 19px;
  font-weight: bold;
  width: 5%;
  margin-top: 12px;
}
@media (max-width: 460px) {
  /* line 142, ../sass/review-settings.scss */
  .ya-review-section .ya-review-list .ya-review-item .ya-review-number {
    font-size: 16px;
    margin-top: 9px;
  }
}

/* line 157, ../sass/review-settings.scss */
.ya-reivew-setting-footer {
  width: 300px;
  margin: 0 auto;
}

/* line 161, ../sass/review-settings.scss */
.ya-reivew-setting-btn-list {
  list-style: none outside none;
  margin: 0;
}
/* line 164, ../sass/review-settings.scss */
.ya-reivew-setting-btn-list li {
  float: left;
  margin: 0 13px;
}

/* line 170, ../sass/review-settings.scss */
input[type="radio"] {
  margin: 0 5px;
  -webkit-appearance: radio;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 178, ../sass/review-settings.scss */
.btn-success {
  color: #fff !important;
}
